@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul, ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.btn__registrarse{
  padding: 1.4rem 5rem;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn__registrarse:hover{
  background-color: #69f1a1;
  color: #000;
  transition: background, color, .3s;
}

.btn__read{
  padding: 1.4rem 5rem;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
} 

.btn__read:hover{
  background: #E8E8E8;
  transition: background, color, .3s;
}

/*-------------------------Header---------------------------*/
header{
  height: 12rem;
}

#icon__menu{
  display: none;
}

.container__header{
  max-width: 120rem;
  height: inherit;
  margin: auto;
  display: flex;
  padding: 0 3.1rem;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 18rem;
}

.menu nav ul{
  display: flex;
  gap: 40px;
}

.menu nav ul li a{
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  
}

.menu nav ul li a:hover{
  opacity: 0.6;
  transition: opacity .3s;
}

/*-----------------------Portada-cover----------------------*/
main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.1rem;
  height: calc(100vh + 80rem);
}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.cover__information{
  width: 50%;
}

.cover__information h1{
  font-size: 5rem;
}

.cover__information p{
  font-size: 1.8rem;
  padding-top: 4rem;
}

.cover__buttons{
  display: flex;
  padding-top: 4rem;
  gap: 1rem;
}


.cover__media{
  width: 50%;
}

.cover__media video{
  width: 100%;
}

/*--------------------------BANNER--------------------------*/
.container__banner{
  margin-top: 8rem;
}

.banner{
  height: 25rem;
  display: flex;
  align-items: center;
  background-color: #121214;
  position: relative;
}

.banner__icon--heart{
  width: 35%;
  height: 100%;
}

.icon__heart{
  width: 40rem;
  margin-top: -2rem;
  position: relative;
  filter: drop-shadow(-4rem 0 3rem rgba(0,0,0,0.5));
}

.banner__text{
  width: 56%;
  padding: 3rem;
}

.banner__text h2{
  color: #fff;
  font-size: 3.2rem;
  font-weight: 300;
}

.banner__text a{
  display: block;
  padding-top: 2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.banner__text a:hover{
  color: #69f1a1;
  transition: color .3s;
}

.banner__icon--fire{
  height: 100%;
  position: absolute;
  right: 4rem;
  overflow: hidden;
}

.icon__fire{
  width: 30rem;
  position: relative;
  margin-top: -10rem;
  opacity: 0.6;
}

@media(max-width: 1024px){
  .container__header, main{
    padding: 0 2rem;
  }
  
  #icon__menu{
    display: block;
    cursor: pointer;
    font-size: 2.4rem;
  }

  .header__register{
    display: none;
  }

  .menu{
    height: 0;
    position: absolute;
    right: 20px;
    top: 80px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
    transition: all .5s;
  }

  .menu nav ul{
    flex-direction: column;
    padding: 3rem;
    gap: 20px;
    background-color: #fff;
  }

  /*Clase manipulada por Js*/
  .mostrar__menu{
    height: 232px;
  }

  .cover__information h1{
    font-size: 4rem;
  }

  .cover__information p{
    font-size: 1.6rem;
  }
  
  .banner__text{
    padding: 3rem 0;
  }

  .banner__text h2{
    font-size: 2.2rem;
  }

  .icon__heart{
    left: -50px;
  }

  .banner__icon--fire{
    right: -20px;
  }
}

@media (max-width: 900px){
  .cover__information{
      width: 100%;
  }

  .cover{
    flex-direction: column;
    gap: 3rem;
  }

  .banner{
      width: 100%;
      height: auto;
      flex-wrap: wrap;
  }

  .icon__fire{
    width: 25rem;
  }

  .icon__heart{
    width: 30rem;
    margin-top: 20px;
    padding-left: 5rem;
  }
  
  .banner__icon--heart{
    width: 10%;
  }
  .banner__text{
    width: 70%;
    margin-top: 5rem;
    padding-left: 14rem;
  } 
}