html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul, ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* imagenes fluidas */
img {
  max-width: 100%;
  height: auto;  
}

figure {
  margin: 0;
}